/* Add your own style here */

.btn-danger {
    background-color: #ff585f;
    border-color: #ff585f;
}

.blog-list {
    list-style: none;
    padding-left: 0;
}

.blog-list li {
    position: relative;
    padding-left: 20px;
}

.blog-list li:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-image: url('../images/bullet.png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.blog-list table {
  font-family: monospace;
  border: none;
  border-spacing: 3;
  margin: 0;
  border-collapse: separate;
  width: auto;
  padding: 0;
}

.blog-list table tr {
  border-top: none;
  background-color: white;
  margin: 0;
  padding: 0;
}

.blog-list table tr:nth-child(2n) {
  background-color: white;
}

.blog-list table tr td {
  border: none;
  text-align: right;
  margin: 0;
  padding: 0;
}

.blog-list table tr td :first-child {
  margin: 0;
}

.blog-list table td:first-child {
  text-align: left;
}

.form-footer {
  font-size: 0.75rem;
  color: #828282;
  margin-top: 1rem;
}