
.sheets {
  iframe {
    height: 1100px;
    width: 100%;
    border: 0;
  }

  @media screen and (max-width: 768px) {
    iframe {
      height: 0px;
    }
  }
}


#content-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  #content-mobile {
    display: block;
  }
}