---
layout: mail
---

<!-- site logo -->
<div style="font-size:27px;font-weight:600;text-transform:uppercase;margin:20px auto;">
    <a href="{{site.url}}/blog/"
        style="display:flex;justify-content:center;align-items:center;text-decoration:none;color:#444;">
        <img src="{{site.url}}/assets/img/logo.png"
            style="height:35px;width:35px;vertical-align:middle;margin-right:15px;" alt="{{site.title}}">
        Kapitalismail
    </a>
</div>
<hr style="max-width:640px;">

<p style="text-align:center;font-size:27px;font-weight:600;">Nieuw</p>

<!-- posts -->
{% for post in site.posts limit:3 %}
<div style="margin:35px auto;padding:20px 20px;border:1px solid #ddd;border-radius:2px;max-width:600px;">
    <a href="{{site.url}}{{post.url}}" style="text-decoration:none;color:#444;">
        <h2 style="font-weight:400">{{post.description}}: {{post.title}}</h2>
    </a>
    <p style="font-weight:100;">{% assign m = post.date | date: "%-m" | minus: 1 %}{{ post.date | date: "%-d" }} {{
        site.months[m] }} {{
        post.date |
        date: "%Y" }}</p>
    <p>{{post.content | strip_html | truncate: 190 }} &raquo;</p>
</div>

{% if forloop.index == 1 %}
<p style="text-align:center;font-size:27px;font-weight:600;">Eerder verschenen</p>
{% endif %}
{% endfor %}